<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="pets" routerLinkActive="active" class="nav-link">Lista de Pets</a>
    </li>
    <li class="nav-item">
      <a routerLink="criar-pet" routerLinkActive="active" class="nav-link">Adicionar Pets</a>
    </li>
  </ul>
</nav>

<h1 class="text-center m-4">{{ titulo }}</h1>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="container p-2">
    <span>Todos os direitos reservados. Por <a target="_blank" href="https://www.linkedin.com/in/victor-lobato-ab12851b3/">Victor Lobato</a></span>
  </div>
</footer>