<h1>Adicionar Pet</h1>
<form (ngSubmit)="onSubmit()" class="form">

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control mb-3" name="nome" id="nome" [(ngModel)]="pet.nome" placeholder="Nome do pet">
    </div>
    <div class="form-group">
        <label for="dono">Dono</label>
        <input type="text" class="form-control mb-3" name="dono" id="dono" [(ngModel)]="pet.nomeDono" placeholder="Nome do dono">
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control mb-3" name="email" id="email" [(ngModel)]="pet.emailDono" placeholder="ex: fulano@gmail.com">
    </div>
    <div></div>
    <button type="submit" class="btn btn-success">Adicionar</button>
</form>